.ChartBuilder__wrap {
  overflow: hidden;
}

.ChartBuilder__wrap--refresh {
  transform-origin: top center;
  animation: refresh 500ms ease;
}

.ChartBuilderItem {
  height: 90px;
  background: #090d16;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: $radius;
  transition: background 375ms ease;
  cursor: pointer;
  &:hover {
    background: lighten(#090d16,2);
  }
}

.ChartBuilderItem__content {
  opacity: 0;
  transform: translateX(-2rem);
  animation: showContent 375ms ease forwards;
}

.ChartBuilderItem__name {
  font-weight: 600;
}

.ChartBuilderItem__artist {
  display: block;
  opacity: 0.5;
}

.ChartBuilderItem__action {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px !important;
  opacity: 0.75;
  cursor: pointer;
  transition: all 375ms ease;
  transform: translateZ(0);
  border-radius: $radius;
  &.clicked {
    animation: clicked 375ms ease;
  }
  &.ghosted {
    opacity: 0.25 !important;
    cursor: default;
    background: none !important;
  }
  &:hover {
    opacity: 1;
    background: rgba(0,0,0,0.4);
  }
}

.ChartBuilder__items {
  display: grid;
  grid-row-gap: 0.25rem;
  list-style: none;
  margin-bottom: 1rem;
}

.ChartBuilder__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.ChartBuilderItem__order {
  font-weight: 900;
  margin-right: 1rem;
  font-size: 1rem;
}

.ChartBuilderItem__empty {
  opacity: 0.15;
  transition: opacity 375ms ease;
}

.ChartBuilderItem:hover .ChartBuilderItem__empty {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.ChartBuilder__title,
.ChartBuilder__search,
.ChartBuilder__items,
.ChartBuilder__footer {
  opacity: 0;
}

.ChartBuilder__title {
  text-align: center;
  animation: showTitle 375ms ease forwards;
}

.ChartBuilder__link {
  display: block;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 2rem;
  border-radius: $radius * 2;
  opacity: 0.75;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: background 357ms ease;
  &:hover {
    background: rgba(255,255,255,0.1);
  }
}

.ChartBuilder__link--back {
  left: 2rem;
  transform: translateX(-120%);
  animation: showBack 375ms ease forwards;
}

.ChartBuilder__link--forward {
  right: 2rem;
  transform: translateX(120%);
  animation: showForward 375ms ease forwards;
}

.ChartBuilder__search {
  transform: translateY(-2rem);
  animation: showSearch 375ms ease forwards;
  position: relative;
  z-index: 50;
}

.ChartBuilder__form {
  position: relative;
  transition: transform 375ms 100ms ease;
}

.ChartBuilder__form--done {
  z-index: 60;
  transform: translateY(-80px);
}

.ChartBuilder__items {
  animation: showItems 375ms 200ms ease forwards;
}

.ChartBuilder__footer {
  transform: translateY(2rem);
  animation: showFooter 375ms ease forwards;
}

.ChartBuilderSearch {
  position: relative;
}

.ChartBuilderSearch__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #222;
}

.ChartBuilderModal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 100;
  opacity: 0;
  transition: opacity 375ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChartBuilderModal--open {
  opacity: 1;
  transform: translateX(-100%);
}

.ChartBuilderModal__content {
  width: 100%;
  max-width: 420px;
  background: #222;
  padding: 2rem;
  border-radius: $radius;
  position: relative;
  small {
    font-size: 0.85rem;
    display: block;
    margin-bottom: 0.75rem;
    opacity: 0.75;
  }
}

.ChartBuilderModal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 50px;
  height: 50px;
  line-height: 50px !important;
  text-align: center;
  opacity: 0.5;
  transition: opacity 375ms ease;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.ChartBuilderModal__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 -1rem 0;
}

.Results {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  top: 100%;
  z-index: 20;
  height: 540px;
  background: $bg;
}

.Results__heading {
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: rgba(255,255,255,0.6);
  strong {
    font-weight: 700;
    color: #fff;
  }
}

.ResultsItem {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 0.15rem;
  background: rgba(255,255,255,0.1);
  border-radius: $radius;
  opacity: 0.5;
  transition: opacity 375ms ease;
  cursor: pointer;
}

.ResultsItem:hover,
.ResultsItem--selected {
  opacity: 1;
  background: rgba(255,255,255,0.2);
}

.ResultsItem__img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 1rem;
  opacity: 0;
}

.ResultsItem__img--loaded {
  opacity: 1;
}

.Results--searching {
  transform: translateX(-100%);
}

@keyframes clicked {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showSearch {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showFooter {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showForward {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes showBack {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes refresh {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0;
    transform: translateY(1rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
