.ChartItem {
  position: relative;
  padding-bottom: 100%;
  color: #fff;
}

.ChartItem__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ChartItem__footer {
  background: linear-gradient(rgba(0,0,0,0), #111);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ChartItem__name {
  font-size: 2rem;
  font-weight: 900;
}

@media(min-width: 1000px) {
  .ChartItem__name {
    font-size: 1.25rem;
  }

  .ChartItem:first-child .ChartItem__name {
    font-size: 2rem;
  }
}
