.ChartItem {
  position: relative;
  padding-bottom: 30%;
  color: #fff;
  overflow: hidden;
}

.ChartItem__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  transition: opacity 375ms ease;
}


.ChartItem:nth-child(1) .ChartItem__bg {
  opacity: 0.5;
}

.ChartItem__footer {
  background: linear-gradient(rgba(0,0,0,0), #111);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ChartItem__footer-content {
  position: relative;
  transition: transform 400ms ease;
}

.ChartItem__name {
  font-weight: 900;
}

.ChartItem__order {
  font-size: 3rem;
  font-weight: 900;
  font-style: normal;
  margin-right: 0.75rem;
}

.ChartItem__thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
  display: none;
}

.ChartItem__view {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.75rem;
  transition: all 375ms ease;
  transform: translateZ(0);
  opacity: 0.9;
  line-height: 1;
}

.ChartItem__spotify {
  width: 90px;
  margin-right: -0.25rem;
}

.ChartItem:hover .ChartItem__bg {
  opacity: 0.75;
}

.ChartItem:hover .ChartItem__view {
  transform: scale(1.05);
  opacity: 1;
}

@media(min-width: 1000px) {
  .ChartItem__name {
    font-size: 1.15rem;
  }
}
