@import "./ChartItem.scss";

.ChartItems {
  width: 100%;
  display: grid;
  grid-row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Chart__header {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.Chart__titles {
  flex: 1;
}

.Chart__title {
  margin: 0;
}

.Chart__social {
  list-style: none;
}

@media(max-width: 999px) {

  .Chart__social {
    width: 100%;
  }

  .Chart__social li {
    margin-bottom: 0.5rem;
  }

}

.Chart__author {
  font-weight: 300;
  font-size: 1.5rem;
  opacity: 0.75;
}

@media(min-width: 1000px) {
  .ChartItems {
    grid-template-rows: repeat(5, 1fr);
    max-width: 580px;
  }

  .Chart__social {
    display: flex;
  }

  .Chart__social li {
    margin-left: 0.5rem;
  }
}

.ChartSpinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5,
  1) infinite;
  border-color: $blue transparent transparent
  transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

