@import "./ChartItem.scss";
@import "./ChartActions.scss";

.Cosigns {
  position: relative;
  padding: 0 1.5rem;
  padding-right: calc(1rem + 50px);
  border: 1px solid #fff;
  background: none;
  span { margin-right: 0.25rem; font-weight: 900 }
  &:hover {
    background: #222;
    .Cosigns__sig {
      transform: translateY(100%);
    }
    .Cosigns__plus {
      transform: translateY(0);
    }
  }
}

.Cosigns__actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 44px;
  border-left: 1px solid #fff;
  overflow: hidden;
  i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 44px;
    transition: all 375ms ease;
  }
}

.Cosigns__plus,
.Cosigns__minus {
  transform: translateY(100%);
}

.Cosigns--signed:hover {
  .Cosigns__minus {
    transform: translateY(0);
  }
  .Cosigns__plus {
    transform: translateY(100%);
  }
  .Cosigns__sig {
    transform: translateY(100%);
  }
}

.ChartItems {
  width: 100%;
  display: grid;
  grid-gap: 0.5rem;
  display: grid;
  grid-template-column: 1fr 1fr;
}

.ChartItems :first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.Chart__bg {
  background-image: url("https://i.scdn.co/image/1fc2f537d678d701d7d143a8fd4f0c2f29fbde22");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  opacity: 0.05;
  filter: blur(8px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Chart__body {
  position: relative;
  z-index: 5;
  animation: fadeIn 400ms ease;
}

.Chart__empty {
  text-align: center;
  padding: 4rem 0;
  opacity: 0.5;
}

.Chart__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Chart__titles {
  flex: 1;
}

.Chart__title {
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0.5;
  margin: 0;
}

.Chart__social {
  list-style: none;
}

.Chart__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media(max-width: 768px) {

  .Chart__body {
    display: flex;
    flex-direction: column
  }

}

@media(max-width: 999px) {

  .Chart__social {
    width: 100%;
  }

  .Chart__social li {
    margin-bottom: 0.5rem;
  }

}

.Chart__author {
  font-weight: 300;
  font-size: 1.5rem;
  opacity: 0.75;
  span {
    opacity: 1;
    font-weight: 400;
  }
}

@media(min-width: 1000px) {
  .Chart {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .ChartItems {
    grid-template-columns: repeat(4, 1fr);
    grid-template-row: repeat(2, 1fr);
    height: 700px;
  }

  .Chart__empty {
    height: 700px;
    line-height: 700px;
    padding: 0;
  }

  .Chart__social {
    display: flex;
  }

  .Chart__social li {
    margin-left: 0.5rem;
  }

  .Chart__header {
    margin: 2rem 0;
  }

  .Chart__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    z-index: 50;
    width: 100%;
    padding: 2rem;
  }
}

