@import "../ChartTile/ChartTile.scss";

@keyframes showCharts {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Charts {
  padding-top: 2rem;
  opacity: 0;
  transform: translateY(2rem);
  animation: showCharts 375ms 200ms ease forwards;
}

.Charts__list {
  width: 100%;
}

.Charts__title {
  text-align: center;
}

@media(min-width: 600px) {

  .Charts {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Charts__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    max-width: 1000px;
  }

}
