.Admin__container {
  padding-top: 10vh;
}

.Admin__form {
  position: relative;
  z-index: 50;
}

.Admin__search {
  position: relative;
}

.Admin__results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.Admin__footer {
  border-radius: 0.5rem;
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  background: rgba(255,255,255,0.05);
}

