.ChartTile {
  display: block;
  color: #fff;
  transition: all 375ms ease;
  transform: translateZ(0);
  padding: 1rem;
  text-decoration: none;
  background: rgba(255,255,255,0.01);
}

.ChartTile__cover {
  padding-bottom: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.ChartTile__footer {
  padding-top: 0.5rem;
}

.ChartTile__title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.ChartTile__subtitle {
  display: block;
  font-size: 0.75rem;
  opacity: 0.5;
  font-weight: 400;
}

.ChartTile__names {
  width: 70%;
}

@media(min-width: 1024px) {
  .ChartTile:hover {
    background: rgba(255,255,255,0.03);
    transform: translateY(-0.125rem);
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }
}
