.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background: $bg;
  transition: all 375ms ease;
}

.Header__cta {
  position: relative;
  transition: transform 375ms ease;
  transform: translateY(-150%);
}

.Header__cta--visible {
  transform: translateY(0);
}

.Header__container {
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header--hidden {
  transform: translateY(-100%);
}

@media(max-width: 768px) {
  .Header__cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    transform: translateY(150%);
  }

  .Header__cta--visible {
    transform: translateY(0);
  }
}

@media(min-width: 768px) {
  .Header--transparent {
    background: none;
  }
}
