.Header {
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: transform 375ms ease;
  background: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.Header--hidden {
  transform: translateY(-100%);
}
