.Intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.Intro__logo {
  width: 150px;
  margin-bottom: 4rem;
}

.Intro__title {
  text-align: center;
  font-size: 2rem;
}
