.Intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 10;
}

.Intro__logo {
  width: 120px;
  margin-bottom: 6rem;
}

.Intro__title {
  text-align: center;
}
