.Intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 10;
}

.Intro__logo {
  width: 120px;
  margin-bottom: 6rem;
}

.Intro__title {
  text-align: center;
}

.Intro__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

@media(min-width: 1024px) {
  .Intro__footer {
    flex-direction: row;
  }
}
