@import "../ChartTile/ChartTile.scss";

@keyframes showCreate {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Create {
  overflow: hidden;
}

.Create__body {
  opacity: 0;
  transform: translateY(2rem);
  animation: showCreate 375ms 200ms ease forwards;
}
