@import "../ChartTile/ChartTile.scss";

@keyframes showChartOptions {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ChartOptions {
  overflow: hidden;
}

.ChartOptions__body {
  opacity: 0;
  transform: translateY(2rem);
  animation: showChartOptions 375ms 200ms ease forwards;
}

.ChartOptions__list {
  margin-left: -1rem;
  margin-right: -1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.ChartOptions__title {
  text-align: center;
}

@media(min-width: 600px) {

  .ChartOptions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ChartOptions__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    max-width: 768px;
  }

}
